In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] =(20,10)

In [7]:
df1 = pd.read_csv("Bengaluru_House_Data.csv")

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [36]:
df1.groupby('area_type')['area_type'].agg('count')

location       1
size          16
total_sqft     0
bath           0
balcony        0
price          0
dtype: int64

In [37]:
df2= df1.drop(['area_type','society','availability'],axis='columns')

In [38]:
df2.columns

Index(['location', 'size', 'total_sqft', 'bath', 'balcony', 'price'], dtype='object')

In [39]:
median = df2['balcony'].median()
df2['balcony'].fillna(median, inplace=True)
median = df2['bath'].median()
df2['bath'].fillna(median, inplace=True)
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath           0
balcony        0
price          0
dtype: int64

In [40]:
df3=df2.dropna()
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [41]:
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [43]:
df3['bhk']= df3['size'].apply(lambda x:int(x.split(' ')[0]))
df3.head()

/var/folders/l3/vsfxxkxn6bqcf30q7gxxyjdh0000gn/T/ipykernel_18877/2914848493.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['bhk']= df3['size'].apply(lambda x:int(x.split(' ')[0]))

                   location       size total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00    2

In [75]:
df4 = df3.drop(['size'],axis ='columns')
df4.head(100)

                     location total_sqft  bath  balcony   price  bhk
0    Electronic City Phase II       1056   2.0      1.0   39.07    2
1            Chikka Tirupathi       2600   5.0      3.0  120.00    4
2                 Uttarahalli       1440   2.0      3.0   62.00    3
3          Lingadheeranahalli       1521   3.0      1.0   95.00    3
4                    Kothanur       1200   2.0      1.0   51.00    2
..                        ...        ...   ...      ...     ...  ...
95                     Domlur       1540   3.0      2.0   90.00    3
96                    Kengeri       2894   4.0      1.0  245.00    4
97  Sarjapura - Attibele Road       1330   2.0      1.0   48.00    3
98             Devasthanagalu       1200   2.0      1.0   65.00    2
99              T Dasarahalli       1200   3.0      1.0   90.00    3

[100 rows x 6 columns]

In [155]:
def convert_sqft_to_num(x):
    ele = x.split(' - ')
    if len(ele) ==2:
        return (float(ele[0]) + float(ele[1]))/2
    try:
        return float(x)
    except:
        return None

In [156]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [167]:
df5 = df4.copy()
df5['total_sqft']= df5['total_sqft'].apply(convert_sqft_to_num)

In [168]:
df6 = df5.copy()
df6['price_per_sqft'] = df6['price']*100000/ df6['total_sqft']

In [169]:
df6.location =df6.location.apply(lambda x:x.strip())
location_stats=df6.groupby('location')['location'].agg('count').sort_values(ascending=False)
location_stats_less_than_15= location_stats[location_stats<11]

In [170]:
df6.location = df6.location.apply(lambda x :'other' if x in location_stats_less_than_15 else x)

In [171]:
df6.shape

(13303, 7)

In [188]:
df7 = df6[~(df6.total_sqft/df6.bhk <300)]

In [191]:
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st= np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft >(m-st)) & (subdf.price_per_sqft<= (m+st))]
        df_out =pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out

In [193]:
df8 = remove_pps_outliers(df7)
df8.shape

(10286, 7)

In [205]:
def remove_bhk_outlier(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk - 1)
            if stats and stats['count'] > 5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft < stats['mean']].index.values)
    return df.drop(exclude_indices, axis='index')
    
df9 = remove_bhk_outlier(df8)
df9.shape

(7353, 7)

In [220]:
df10 = df9[df9.bath<df9.bhk +2]
df11= df10.drop(['price_per_sqft','balcony'],axis = 'columns')

In [221]:
df11

                  location  total_sqft  bath  price  bhk
0      1st Block Jayanagar      2850.0   4.0  428.0    4
1      1st Block Jayanagar      1630.0   3.0  194.0    3
2      1st Block Jayanagar      1875.0   2.0  235.0    3
3      1st Block Jayanagar      1200.0   2.0  130.0    3
4      1st Block Jayanagar      1235.0   2.0  148.0    2
...                    ...         ...   ...    ...  ...
10277                other      1200.0   2.0   70.0    2
10278                other      1800.0   1.0  200.0    1
10281                other      1353.0   2.0  110.0    2
10282                other       812.0   1.0   26.0    1
10285                other      3600.0   5.0  400.0    4

[7275 rows x 5 columns]

In [228]:
dummies=pd.get_dummies(df11.location)

In [235]:
df12 = pd.concat([df11,dummies.drop(['other'],axis='columns')],axis='columns').drop(['location'],axis='columns')

In [236]:
df12.head()

,total_sqft,bath,price,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2850.0,4.0,428.0,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,194.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1875.0,2.0,235.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1200.0,2.0,130.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1235.0,2.0,148.0,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [260]:
X= df12.drop(['price'],axis = 'columns')
X

,total_sqft,bath,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2850.0,4.0,4,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1875.0,2.0,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1200.0,2.0,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1235.0,2.0,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10277,1200.0,2.0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10278,1800.0,1.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10281,1353.0,2.0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10282,812.0,1.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10285,3600.0,5.0,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [268]:
y= df12.price
y

0        428.0
1        194.0
2        235.0
3        130.0
4        148.0
         ...
10277     70.0
10278    200.0
10281    110.0
10282     26.0
10285    400.0
Name: price, Length: 7275, dtype: float64

In [269]:
from sklearn.model_selection import train_test_split
X_train , X_test,y_train , y_test = train_test_split(X,y,test_size =0.2,random_state =10)

In [280]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.8300702721039415

In [281]:
X.columns

Index(['total_sqft', 'bath', 'bhk', '1st Block Jayanagar',
       '1st Phase JP Nagar', '2nd Phase Judicial Layout',
       '2nd Stage Nagarbhavi', '5th Block Hbr Layout', '5th Phase JP Nagar',
       '6th Phase JP Nagar',
       ...
       'Vijayanagar', 'Vishveshwarya Layout', 'Vishwapriya Layout',
       'Vittasandra', 'Whitefield', 'Yelachenahalli', 'Yelahanka',
       'Yelahanka New Town', 'Yelenahalli', 'Yeshwanthpur'],
      dtype='object', length=244)

In [282]:
def predict_price(location,sqft,bath,bhk):
    loc_index = np.where(X.columns == location)[0][0]
    x= np.zeros(len(X.columns))
    x[0] = sqft
    x[1] = bath
    x[2] = bhk
    if loc_index >= 0:
        x[loc_index]=1
    return lr_clf.predict([x])[0]

In [283]:
import pickle
with open('banglore_home_prices_model.pickle','wb') as f:
    pickle.dump(lr_clf,f)

In [284]:
import json
columns ={
    'data-colmns':[col.lower() for col in X.columns]
}
with open('colm.json','w') as f:
    f.write(json.dumps(columns))